/*

[Custom Stylesheet]

Project     : JD - Responsive Personal vCard / CV / Resume Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/


.timeline--items {
    text-align: center;
}

.multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
  }
  .multi-item-carousel .carousel-inner .active.left {
    left: -33%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 33%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 33%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -33%;
  }
  
  .multi-item-carousel .carouse-control.left,
  .multi-item-carousel .carouse-control.right {
    background-image: none;
  }